/* carrito.css */
#carrito {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 2px solid #ddd;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    display: none; /* Ocultar el carrito por defecto */
    z-index: 1000;
}

#carrito h2 {
    margin-top: 0;
}

.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.carrito-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.carrito-item p {
    margin: 0;
    margin-right: 10px;
}

.carrito-item button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}